/* 

*****************
TABLE OF CONTENTS
*****************

- Fonts
- Mixins
- Mixins, Larger Screens
- Variables
- Body
 - Included Mixins
 - Main Container
  - Imports
- Media Queries

*/
@font-face {
  font-family: "carterOneRegular";
  src: url("../../../Fonts/carterOne/carterOneRegular.ttf");
}

@font-face {
  font-family: "luckiestGuyRegular";
  src: url("../../../Fonts/luckiestGuy/luckiestGuyRegular.ttf");
}

@font-face {
  font-family: "mavenProBold";
  src: url("../../../Fonts/mavenPro/mavenProBold.ttf");
}

@font-face {
  font-family: "tekoRegular";
  src: url("../../../Fonts/Teko/tekoRegular.ttf");
}

body .mainContainer {
  /*
TABLE OF CONTENTS
*****************
*/
  /*
TABLE OF CONTENTS
*****************
*/
}

body .mainContainer .header {
  background: url("../../../Images/Header/headerBackgroundSix.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
}

body .mainContainer .header .verticalBottom {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 141px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

body .mainContainer .header .verticalBottom .socialBottom {
  display: none;
}

body .mainContainer .header .verticalBottom .socialBottom a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

body .mainContainer .header .verticalBottom .socialBottom a h4 {
  display: inline-block;
  font-family: tekoRegular;
  font-size: 26px;
  margin: 0 0 0 13px;
  padding: 0;
  position: relative;
  top: 2px;
}

body .mainContainer .header .verticalBottom .socialBottom a img {
  display: inline;
  height: auto;
  width: 15px;
}

body .mainContainer .header .verticalMiddle {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

body .mainContainer .header .verticalMiddle .social {
  display: inline;
  left: 0;
  position: absolute;
}

body .mainContainer .header .verticalMiddle .social a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 32px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .mainContainer .header .verticalMiddle .social a h4 {
  display: inline-block;
  font-family: tekoRegular;
  font-size: 26px;
  margin: 0 0 0 13px;
  padding: 0;
  position: relative;
  top: 2px;
}

body .mainContainer .header .verticalMiddle .social a img {
  display: inline;
  height: auto;
  width: 15px;
}

body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
  width: 25%;
}

body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
  margin: 29px 0 0 0;
}

body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button a {
  background: #ff5F7d;
  border-radius: 8px;
  color: #ffffff;
  font-family: carterOneRegular;
  font-size: 25px;
  padding: 20px 49px 20px 49px;
}

body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button a:hover {
  background: #f31c43;
}

body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
  color: #515151;
  font-family: carterOneRegular;
  font-size: 90px;
  width: 100%;
}

body .mainContainer .header .verticalTop {
  position: relative;
  z-index: 2;
}

body .mainContainer .header .verticalTop .oxygen {
  font-family: luckiestGuyRegular;
  font-size: 0px;
  padding: 141px 0 0 0;
}

body .mainContainer .header .verticalTop .oxygen .oxy {
  color: #000000;
  display: inline-block;
  font-size: 50px;
}

body .mainContainer .header .verticalTop .oxygen .the {
  color: #adadad;
  display: inline-block;
  font-size: 50px;
}

@media (max-height: 400px) {
  body .mainContainer .header .verticalBottom {
    height: 106px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
    display: none !important;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    display: none;
  }
  body .mainContainer .header .verticalTop .oxygen {
    padding: 106px 0 0 0;
  }
}

@media (min-height: 401px) and (max-height: 600px) {
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
    display: none !important;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    display: none;
  }
}

@media (min-height: 601px) and (max-height: 875px) {
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    display: none;
  }
}

@media (max-width: 275px) {
  body .mainContainer .header .verticalBottom .socialBottom {
    display: block;
  }
  body .mainContainer .header .verticalMiddle .social {
    display: none;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 95%;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
    margin: 22px 0 0 0;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button a {
    border-radius: 6px;
    font-size: 19px;
    padding: 15px 37px 15px 37px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    font-size: 38px;
  }
  body .mainContainer .header .verticalTop .oxygen .oxy {
    font-size: 38px;
  }
  body .mainContainer .header .verticalTop .oxygen .the {
    font-size: 38px;
  }
}

@media (min-width: 276px) and (max-width: 375px) {
  body .mainContainer .header .verticalBottom .socialBottom {
    display: block;
  }
  body .mainContainer .header .verticalMiddle .social {
    display: none;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 95%;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    font-size: 51px;
  }
  body .mainContainer .header .verticalTop .oxygen .oxy {
    font-size: 38px;
  }
  body .mainContainer .header .verticalTop .oxygen .the {
    font-size: 38px;
  }
}

@media (min-width: 376px) and (max-width: 475px) {
  body .mainContainer .header .verticalBottom .socialBottom {
    display: block;
  }
  body .mainContainer .header .verticalMiddle .social {
    display: none;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 95%;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    font-size: 68px;
  }
}

@media (min-width: 476px) and (max-width: 600px) {
  body .mainContainer .header .verticalBottom .socialBottom {
    display: block;
  }
  body .mainContainer .header .verticalMiddle .social {
    display: none;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 95%;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  body .mainContainer .header .verticalBottom .socialBottom {
    display: block;
  }
  body .mainContainer .header .verticalMiddle .social {
    display: none;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 75%;
  }
}

@media (min-width: 801px) and (max-width: 975px) {
  body .mainContainer .header .verticalBottom .socialBottom {
    display: block;
  }
  body .mainContainer .header .verticalMiddle .social {
    display: none;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 55%;
  }
}

@media (min-width: 976px) and (max-width: 1275px) {
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 45%;
  }
}

@media (min-width: 1276px) and (max-width: 1775px) {
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 35%;
  }
}

@media (min-width: 1921px) and (max-width: 2400px) {
  body .mainContainer .header .verticalBottom {
    height: 176px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a h4 {
    font-size: 32px;
    margin: 0 0 0 16px;
    top: 2.5px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a img {
    height: auto;
    width: 18px;
  }
  body .mainContainer .header .verticalMiddle .social a {
    margin: 0 0 0 40px;
  }
  body .mainContainer .header .verticalMiddle .social a h4 {
    font-size: 32px;
    margin: 0 0 0 16px;
    top: 2.5px;
  }
  body .mainContainer .header .verticalMiddle .social a img {
    height: auto;
    width: 18px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 35%;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
    margin: 36px 0 0 0;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button a {
    border-radius: 10px;
    font-size: 31px;
    padding: 25px 61px 25px 61px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    font-size: 112px;
  }
  body .mainContainer .header .verticalTop .oxygen {
    padding: 176px 0 0 0;
  }
  body .mainContainer .header .verticalTop .oxygen .oxy {
    font-size: 62px;
  }
  body .mainContainer .header .verticalTop .oxygen .the {
    font-size: 62px;
  }
}

@media (min-width: 2401px) and (max-width: 3000px) {
  body .mainContainer .header .verticalBottom {
    height: 220px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a h4 {
    font-size: 40px;
    margin: 0 0 0 20px;
    top: 3.1px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a img {
    height: auto;
    width: 22px;
  }
  body .mainContainer .header .verticalMiddle .social a {
    margin: 0 0 0 50px;
  }
  body .mainContainer .header .verticalMiddle .social a h4 {
    font-size: 40px;
    margin: 0 0 0 20px;
    top: 3.1px;
  }
  body .mainContainer .header .verticalMiddle .social a img {
    height: auto;
    width: 22px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 35%;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
    margin: 45px 0 0 0;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button a {
    border-radius: 12.5px;
    font-size: 38px;
    padding: 31px 76px 31px 76px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    font-size: 140px;
  }
  body .mainContainer .header .verticalTop .oxygen {
    padding: 220px 0 0 0;
  }
  body .mainContainer .header .verticalTop .oxygen .oxy {
    font-size: 77px;
  }
  body .mainContainer .header .verticalTop .oxygen .the {
    font-size: 77px;
  }
}

@media (min-width: 3001px) and (max-width: 3750px) {
  body .mainContainer .header .verticalBottom {
    height: 275px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a h4 {
    font-size: 50px;
    margin: 0 0 0 25px;
    top: 3.8px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a img {
    height: auto;
    width: 27px;
  }
  body .mainContainer .header .verticalMiddle .social a {
    margin: 0 0 0 62px;
  }
  body .mainContainer .header .verticalMiddle .social a h4 {
    font-size: 50px;
    margin: 0 0 0 25px;
    top: 3.8px;
  }
  body .mainContainer .header .verticalMiddle .social a img {
    height: auto;
    width: 27px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 35%;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
    margin: 56px 0 0 0;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button a {
    border-radius: 15.6px;
    font-size: 47px;
    padding: 38px 95px 38px 95px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    font-size: 175px;
  }
  body .mainContainer .header .verticalTop .oxygen {
    padding: 275px 0 0 0;
  }
  body .mainContainer .header .verticalTop .oxygen .oxy {
    font-size: 96px;
  }
  body .mainContainer .header .verticalTop .oxygen .the {
    font-size: 96px;
  }
}

@media (min-width: 3751px) {
  body .mainContainer .header .verticalBottom {
    height: 343px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a h4 {
    font-size: 62px;
    margin: 0 0 0 31px;
    top: 4.7px;
  }
  body .mainContainer .header .verticalBottom .socialBottom a img {
    height: auto;
    width: 33px;
  }
  body .mainContainer .header .verticalMiddle .social a {
    margin: 0 0 0 77px;
  }
  body .mainContainer .header .verticalMiddle .social a h4 {
    font-size: 62px;
    margin: 0 0 0 31px;
    top: 4.7px;
  }
  body .mainContainer .header .verticalMiddle .social a img {
    height: auto;
    width: 33px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton {
    width: 35%;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button {
    margin: 70px 0 0 0;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton .button a {
    border-radius: 19.5px;
    font-size: 58px;
    padding: 47px 118px 47px 118px;
  }
  body .mainContainer .header .verticalMiddle .weCreate .textAndButton h1 {
    font-size: 218px;
  }
  body .mainContainer .header .verticalTop .oxygen {
    padding: 343px 0 0 0;
  }
  body .mainContainer .header .verticalTop .oxygen .oxy {
    font-size: 120px;
  }
  body .mainContainer .header .verticalTop .oxygen .the {
    font-size: 120px;
  }
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */